//
// Assessment Project
// --------------------------------------------------
ul li{
    list-style-type: none;
}

.bs-docs-nav {
    .navbar-toggle {
        .icon-bar {
			background-color: $palette-white;
		}

        &:focus {
             background-color: $palette-white;
        }
	}
	
    &:hover {
        .icon-bar {
            background-color: #333333;
        }
	}
	
    &:focus {
        background-color: $palette-white;
    }
}

.navbar-toggler {
	background-color: #fff;
    padding: 0 3px;
    margin-top: 3px;
}

.navbar-toggler-icon {
	height: 1em;
}

.navbar {
	background-color: #333333;
    width: 100%;
	margin: 0;
	padding: 0;
	min-height: 40px;

  .headerNav {
		position: relative;
    padding: 0;
	}

    .navbar-brand {
		@include fontsizerule1(16px, bold, $palette-white);

        &:hover {
            color: $palette-white;
        }
	}
	
    .assesmentHeading {
        span {
            @include fontsizerule1(16px, normal, $palette-white);
			display: block;
			
            &.name {
				font-size:14px;
			}
		}
		
        .logo{
			float: left;
		}

        .name {
			float: right;
		}
	}
	
    .miniCart {
		color:$palette-white;
		height:30px;
		margin-top:20px;
		width:auto;
		position: absolute;
		right:0px;
		bottom: 0px;

        a{
            @include fontsizerule1(14px, bold, $palette-white);
			text-decoration: none;
			
            &:hover {
				text-decoration: none;
			}
		}
		
        .price {
			margin-right: 2px;
		}
    }
}

ul.nav li a {
	@include fontsizerule1(13px, bold, $palette-white);
	
    &:hover {
        color: $color-black;
        background-color: $palette-white;
	}
	
    &.active {
        color: $color-black;
        background-color: $palette-white;
    }
}

.site-header {
	width: 100%;
	background-color: $header-bg;
	padding: 10px 0 10px 20px;
	margin-bottom: 10px;

	&__title {
		font-size: 1.5em;
		color: $color-blue;
	}

	&__my-details {
		font-size: 1em;
		line-height: 1.5em;
		color: $color-blue;
	}
}

.carousel {
	margin-left: 0;
	margin-top:10px;
	@media only screen and (min-width: $media-min-tablet) {
		margin-left: 5px;
	}
}
.owl-item {
    &__picture {
    	min-width: auto;
    	min-height: auto;

    	@media only screen and (min-width: $media-large-desktop) {
    		min-width: 240px;
    		min-height: 120px;
    		max-width: 240px;
    		max-height: 120px;
    		@include flexstyle;
		}
    }

    &__title {
    	color: $color-blue;
    }
}

.owl-nav {
	@include flexstyle;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-top: 10px;
	.owl-next {
		.right {
			@extend .next-prev-button-style-mobile;
			right: 0;
			background-position: 10px;
			border-bottom-left-radius: 90px;
  			border-top-left-radius: 90px;
  			@media only screen and (min-width: $media-min-tablet) {
				  background-position: 20px;
				  margin-left: 10px;
  			}

  			@media only screen and (min-width: $media-min-desktop) {
				position: relative;
				text-indent: initial;
				background: none;
				overflow: initial;
				  padding: 10px 20px;
				  font-weight: bold;
				  color: $white;
				  background-color: $color-blue;
				  border-radius: 2px;
				  width: 100%;
				  height: auto;
			//	@extend .next-prev-button-style-desktop;
				&:before {
		   			content: "Next";
			   	}
  			}
	   	}
	}
}

.owl-nav {
	.owl-prev {
		.left {
			@extend .next-prev-button-style-mobile;
			left: 0;
			background-position: 10px;
			-webkit-transform: rotate(180deg);
			transform: rotate(180deg);
			border-bottom-left-radius: 90px;
  			border-top-left-radius: 90px;
			overflow:hidden;
			@media only screen and (min-width: $media-min-tablet) {
  				background-position: 20px;
  			}

		    @media only screen and (min-width: $media-min-desktop) {
		    	-webkit-transform: none;
		    	transform: none;
				-ms-transform: none;
				position: relative;
				text-indent: initial;
				background: none;
				overflow: initial;
				padding: 10px 20px;
				font-weight: bold;
				color: $white;
				background-color: $color-blue;
				border-radius: 2px;
				width: 100%;
				height: auto;
			//	@extend .next-prev-button-style-desktop;
				&:before {
	   				content: "Prev";
		   		}
	   		}
	    }
	}
}

.navbar-nav .nav-link,
.navbar-nav .show > .nav-link,
.navbar-nav .active > .nav-link,
.navbar-nav .nav-link.show,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
	color: $palette-white !important;
	font-weight: normal;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
	color: $color-black !important;
}

li.nav-item {
	background-color: #000;
	&:hover {
		background-color: #fff;
	}
	&:active {
		background-color: #fff;
	}
}

.about-message {
	@include flexstyle;
	margin: 20px 0 0 20px;
}


@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
  font-family: Montserrat, sans-serif;
  background: #333333;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu > ul > li > a {
  padding: 17px;
  font-size: 12px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #dddddd;
  font-weight: 700;
  text-transform: uppercase;
}
#cssmenu > ul > li:hover > a {
  color: #ffffff;
}
#cssmenu > ul > li.has-sub > a {
  padding-right: 30px;
}
#cssmenu > ul > li.has-sub > a:after {
  position: absolute;
  top: 22px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #dddddd;
  content: '';
}
#cssmenu > ul > li.has-sub > a:before {
  position: absolute;
  top: 19px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #dddddd;
  content: '';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#cssmenu > ul > li.has-sub:hover > a:before {
  top: 23px;
  height: 0;
}
#cssmenu ul ul {
  position: absolute;
  left: -9999px;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu ul ul li {
  height: 0;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#cssmenu li:hover > ul {
  left: auto;
}
#cssmenu.align-right li:hover > ul {
  left: auto;
  right: 0;
}
#cssmenu li:hover > ul > li {
  height: 35px;
}
#cssmenu ul ul ul {
  margin-left: 100%;
  top: 0;
}
#cssmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
#cssmenu ul ul li a {
  border-bottom: 1px solid rgba(150, 150, 150, 0.15);
  padding: 11px 15px;
  width: 170px;
  font-size: 12px;
  text-decoration: none;
  color: #dddddd;
  font-weight: 400;
  background: #333333;
}
#cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last-item > a {
  border-bottom: 0;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  color: #ffffff;
}
#cssmenu ul ul li.has-sub > a:after {
  position: absolute;
  top: 16px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #dddddd;
  content: '';
}
#cssmenu.align-right ul ul li.has-sub > a:after {
  right: auto;
  left: 11px;
}
#cssmenu ul ul li.has-sub > a:before {
  position: absolute;
  top: 13px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #dddddd;
  content: '';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#cssmenu.align-right ul ul li.has-sub > a:before {
  right: auto;
  left: 14px;
}
#cssmenu ul ul > li.has-sub:hover > a:before {
  top: 17px;
  height: 0;
}

#cssmenu {
.headerNav {
  position: relative;
  padding: 0;
  &--highlight {
    background-color: $palette-white;
    a {
      color: $text-highlight;
      &:hover {
        color: $text-highlight;
      }
    }
  }
}
}

@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  #cssmenu {
    width: 100%;
  }
  #cssmenu ul {
    width: 100%;
    display: none;
  }
  #cssmenu.align-center > ul {
    text-align: left;
  }
  #cssmenu ul li {
    width: 100%;
    border-top: 1px solid rgba(120, 120, 120, 0.2);
  }
  #cssmenu ul ul li,
  #cssmenu li:hover > ul > li {
    height: auto;
  }
  #cssmenu ul li a,
  #cssmenu ul ul li a {
    width: 100%;
    border-bottom: 0;
  }
  #cssmenu > ul > li {
    float: none;
  }
  #cssmenu ul ul li a {
    padding-left: 25px;
  }
  #cssmenu ul ul ul li a {
    padding-left: 35px;
  }
  #cssmenu ul ul li a {
    color: #dddddd;
    background: none;
  }
  #cssmenu ul ul li:hover > a,
  #cssmenu ul ul li.active > a {
    color: #ffffff;
  }
  #cssmenu ul ul,
  #cssmenu ul ul ul,
  #cssmenu.align-right ul ul {
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: left;
  }
  #cssmenu > ul > li.has-sub > a:after,
  #cssmenu > ul > li.has-sub > a:before,
  #cssmenu ul ul > li.has-sub > a:after,
  #cssmenu ul ul > li.has-sub > a:before {
    display: none;
  }
  #cssmenu #menu-button {
	width: 30px;
    display: block;
    padding: 5px;
    color: #dddddd;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
  }
  #cssmenu #menu-button:after {
    top: 22px;
    left: 5px;
    display: block;
    height: 2px;
    width: 20px;
   
    border-bottom: 2px solid #dddddd;
    content: '';
  }
  #cssmenu #menu-button:before {
	border-top: 2px solid #dddddd;
	padding-top:4px;
	top: 16px;
	
    left: 5px;
    display: block;
	height: 2px;
	margin-bottom: 3px;
    width: 20px;
    border-bottom: 2px solid #dddddd;
    content: '';
  }
 
  #cssmenu .submenu-button {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid rgba(120, 120, 120, 0.2);
    height: 46px;
    width: 46px;
    cursor: pointer;
  }
  #cssmenu .submenu-button.submenu-opened {
    background: #262626;
  }
  #cssmenu ul ul .submenu-button {
    height: 34px;
    width: 34px;
  }
  #cssmenu .submenu-button:after {
    position: absolute;
    top: 22px;
    right: 19px;
    width: 8px;
    height: 2px;
    display: block;
    background: #dddddd;
    content: '';
  }
  #cssmenu ul ul .submenu-button:after {
    top: 15px;
    right: 13px;
  }
  #cssmenu .submenu-button.submenu-opened:after {
    background: #ffffff;
  }
  #cssmenu .submenu-button:before {
    position: absolute;
    top: 19px;
    right: 22px;
    display: block;
    width: 2px;
    height: 8px;
    background: #dddddd;
    content: '';
  }
  #cssmenu ul ul .submenu-button:before {
    top: 12px;
    right: 16px;
  }
  #cssmenu .submenu-button.submenu-opened:before {
    display: none;
  }

  #cssmenu .open {
	margin-top: 20px;
  }
}
