// Add global variables here
$font-walsheim-light: #cccccc;
$color-black: #000000;
$palette-white: #ffffff;


$color-blue: #276696;
$light-green: #a4d9c4;
$header-bg: #eaeee7;
$text-highlight: #FF0000;
$media-large-desktop: 1400px;
$media-min-desktop: 769px;
$media-min-tablet: 641px;
$plpImageWidth: 298px;

$plpImageWidth-310: 310px;
$plpImageWidth-280: 280px;