@import "~bootstrap/scss/bootstrap";
@import '~owl.carousel/dist/assets/owl.carousel.css';
@import "variables";
@import "commonstyle";
@import "base";
@import "homepage";
@import "minibasket";
@import "plp";